<template>
  <div>
    <div class="text-center">
      <p class="float-left">
        <a href="https://creativecommons.org/licenses/by-sa/2.0/fr/">
          <img
            src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png"
            alt="CC-By-SA"
          />
        </a>
      </p>
      <p class="float-right">
        <a
          href="https://framablog.org/?p=22835"
          style="background: none;"
        >
          <img
            :alt="$t('explainations')"
            :src="`${$t('baseurl')}img/signaturefart.png`"
          />
        </a>
      </p>
      <p v-html="$t('footer')"></p>
    </div>
  </div>
</template>
