<template>
  <header role="banner">
    <div class="float-right">
      <I18n />
    </div>
    <h1>
      <router-link :to="`/${$t('lang')}/`">
        <b class="violet">Frama</b><b class="vert">prout</b>
      </router-link>
    </h1>
    <hr
      class="trait"
      role="presentation"
    />
  </header>
</template>

<script>
import I18n from './I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>

